<html>
    <head>
        <title>Register Here</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/style.css')}}">
    </head>
    <body>
        <div class="page">
            <div>{{msg}}</div>
                <form class="form" action="{{url_for('register')}}" method="post">
                    <input type="text" class="info" id="userid" name="UserID" placeholder="UserID"/>
                    <input type="text" class="info" id="password" name="UserPassword" placeholder="Password"/>
                    <input type="text" class="info" id="phonenumber" name="PhoneNumber" placeholder="Phone Number"/>
                    <button type="submit" class="button">Register</button>
                    <p class="con">Already Registered? <a href="{{url_for('login')}}">Login</a></p>
                </form>
        </div>
    </body>
</html>