<html>
    <head>
        <title>Register Here</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/style.css')}}">
    </head>
    <body>
        <div class="page">
                <form class="form" action="connect.php" method="post">
                    <input type="text" class="info" id="userid" name="userid" placeholder="UserID"/>
                    <input type="text" class="info" id="phonenumber" name="phoneNumber" placeholder="Phone Number"/>
                    <input type="text" class="info" id="password" name="password" placeholder="Password"/>
                    <input type="submit" class="button" value="Register">
                    <p class="con">Already Registered? <a href="/" id="login">Login</a></p>
                </form>
        </div>
    </body>
</html>